<h2>Title: <%= gist.escape("title") %></h2>
<span class="glyphicon glyphicon-heart unfavorited"
      data-gist-id="<%= gist.id %>"
      aria-hidden="true"></span>

<p>User id: <%= gist.escape("user_id")%></p>
