<h1>Welcome to Auster's Gist, username: <%= current_user.username %></h1>
<h2>All Gists</h2>
<div id="sidebar">
</div>
<div id="main">
</div>

<script>
  $(function(){
    Gist.initialize()
  })
</script>
